:root,
.App {
  height: 1100px;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2em;
  border-radius: 0px;
  background: #F2F2F2;
}

button:hover {
  cursor: pointer;
}

@media screen and (max-width: 1720px) {
  .stripe-popup {
    scale: .7;
    transform: translate(-130%, -70%);
  }
}

@media screen and (max-width: 1535px) {
  .stripe-popup {
    transform: translateY(-128px);
  }
}

@media screen and (max-width: 1100px) {
  .Header,
  .stripe-connect {
    width: 100vw;
    padding: 0 30px;
  }
  .internal-panel-gray {
    position: relative;
  }
  .billing-menu,
  .baseline,
  .upgrade,
  .internal-panel,
  .overview {
    width: 700px;
  }
  .internal-panel-gray {
    width: 660px;
  }
  .nav-bar {
    width: 100vw;
  }
  .internal-panel-gray {
    margin: 0 20px;
  }
  .click-back-section {
    transform: translateX(0px);
  }
  .notebox-note {
    margin: 0 30px;
  }
  .stripe-popup {
    transform: translate(0);
    margin: 0 auto;
  }
}

@media screen and (max-width: 750px) {
  .Header,
  .stripe-connect {
    width: 100vw;
    padding: 0 20px;
  }
  .billing-menu,
  .baseline,
  .upgrade,
  .internal-panel,
  .internal-panel-gray,
  .overview {
    width: 550px !important;
  }
  .nav-bar {
    width: 100vw !important;
  }
  .internal-panel-gray {
    margin: 0;
    background-color: white;
  }
  .input-box {
    background-color: #F9F9F9;
  }
  .upgrade {
    font-size: smaller;
    line-height: 1em;
  }
  .bold {
    line-height: 0;
  }
}
@media screen and (max-width: 600px) {
  :root,
  html,
  body {
    width: 100vw;
  }
  .Header,
  .stripe-connect {
    padding: 0;
  }
  .billing-menu,
  .baseline,
  .upgrade,
  .internal-panel,
  .internal-panel-gray,
  .overview {
    width: 450px !important;
  }
  .overview > div {
    gap: .5em;
    flex-wrap: wrap;
  }
  .nav-bar {
    width: 100vw !important;
  }
  .internal-panel-gray {
    margin: 0;
  }
  .bold {
    line-height: 16px;
  }
}

@media screen and (max-width: 500px) {
  .billing-menu,
  .baseline,
  .upgrade,
  .internal-panel,
  .internal-panel-gray,
  .overview {
    width: 375px !important;
  }
}
