.stripe-popup {
  position: relative;
  left: -700px;
  top: 30px;
  border-radius: 4px;
  padding: 5px;
}

.green-check {
  width: 50px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(4) translate(5px, 1px);
}

#stripe-message > div:nth-child(1) {
  line-height: 1.5em;
  text-align: left;
}